<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit</h1>
    <p>functionality to edit a specific pre-existing plant</p>
      <p>contact karolin or jerrica about how to make sure folks can't just type in the address and stumble upon this functionality</p>

      <form class="" action="/house-plants/<%=plant.id%>?_method=PUT" method="post">
        <input type="text" name="name" placeholder="<%= plant.name %>"/>
        <br/>
        <input type="text" name="sciname" placeholder="<%= plant.sciname %>"/>
        <br/>
        <input type="text" name="img" placeholder="<%= plant.img %>"/>
        <br>
        <input type="text" name="diff" placeholder="<%= plant.diff %>"/>
        <br/>
        <input type="text" name="sun" placeholder="<%= plant.sun %>"/>
        <br/>
        <input type="text" name="tags" placeholder="<%= plant.tags %>"/>
        <br/>
        <input type="text" name="description" placeholder="<%= plant.description %>">
        <br/>
        <input type="submit" name="submit" value="Update"/>
      </form>


  </body>
</html>
