<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://pics.clipartpng.com/midle/Leaf_PNG_Clip_Art-1968.png" />


    <title>Edit</title>
  </head>
  <body>
    <h1>Edit</h1>
    <p>functionality to edit a specific pre-existing plant</p>
      <p>contact karolin or jerrica about how to make sure folks can't just type in the address and stumble upon this functionality</p>

      <form class="" action="/plants/<%=plant.id%>?_method=PUT" method="post">
        <input type="text" name="name" value="<%= plant.name %>"/>
        <br/>
        <input type="text" name="sciname" value="<%= plant.sciname %>"/>
        <br/>
        <input type="text" name="img" value="<%= plant.img %>"/>
        <br>
        <input type="text" name="diff" value="<%= plant.diff %>"/>
        <br/>
        <input type="text" name="sun" value="<%= plant.sun %>"/>
        <br/>
        <input type="text" name="tags" value="<%= plant.tags %>"/>
        <br/>
        <input type="text" name="description" value="<%= plant.description %>">
        <br/>
        <input type="submit" name="submit" value="Update"/>
      </form>

      <form action="/<%=plant.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE"/>
      </form>


  </body>
</html>
