<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://pics.clipartpng.com/midle/Leaf_PNG_Clip_Art-1968.png" />

    <title>Show</title>
  </head>
  <body>
    <div class="container-fluid flex-column align-self-center">
    <!-- BANNER -->
      <% include ../partials/banner.ejs %>
    <!-- NAVIGATION -->
      <% include ../partials/nav.ejs %>
    <!-- MAIN CONTENT -->
      <div class="main-content">
        <h2><%= Plant.name %></h2>
        <h4>'<%= Plant.sciname %>'</h4>
        <img src="<%= Plant.img %>" alt="">

        <div class="about">
          <p class="poison"><% if(Plant.poisonous === true){ %>
                  This plant is <span>POISONOUS</span> to house pets.
              <% } else { %>
                  This plant is NOT poisonous to house pets.
              <% } %></p>
          <p class="about"><%= Plant.description %></p>
          <br>
          <% if (currentUser){ %>
            <div class="edits">
              <a href="/plants/<%= Plant.id %>/edit"><button type="button" name="button">Edit</button></a>
              <form action="/plants/<%=Plant.id%>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE"/>
              </form>
            </div>
          <% } %>

          <br>
          <!-- FOOTER -->
          <% include ../partials/footer.ejs %>
        </div>
      </div>
    </div>
    <!-- end container-fluid -->
  </body>
</html>
