<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Display specific plant</h1>
  <p>  this page will display an individual plant image, its name, and information.</p>
  <p>stretch goal is a buy button and a shopping cart?</p>
  <% if (currentUser) {%>
    <a href="/<%= Plant.id %>/edit">Edit</a>
    <form action="/<%=Plant.id%>?_method=DELETE" method="POST">
				<input type="submit" value="DELETE"/>
		</form>
  <% } %>
  <a href="/">Home</a>
  <div class="">
    <h2><%= Plant.name %></h2>
    <h3><%= Plant.sciname %></h3>
    <img src="<%= Plant.img %>" alt="">
    <% console.log(Plant.poisonous) %>
    <p><% if(Plant.poisonous === true){ %>
            This plant is POISONOUS to house pets.
        <% } else { %>
            This plant is NOT poisonous to house pets.
        <% } %></p>
    <p><%= Plant.description %></p>

  </div>

  </body>
</html>
